p{
	text-align: center;
	background-color: white;
	border: 3px dashed green;
}
div{
	border-color:purple;
	border-style: solid;
	border-width: 20px 10px 20px 10px;
	background-color:pink; 
	margin: 120px 60px 30.5px 60px;
	padding: 40px 20px 70px 100px;
}
